# Logs
logs
*.log

# Dependencies
node_modules

# Build
dist
dist-ssr
.next

# Environment files
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Local config
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store