@import "tailwindcss";

@theme {
  --color-primary: #461AA2;
  --color-secondary: #C5FA19;
  --color-accent: #DDFBFF;
  
  --font-sans: var(--next-font-sans), sans-serif;
  --font-heading: var(--next-font-heading), sans-serif;
}


body {
  font-family: var(--next-font-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--next-font-heading), sans-serif;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30px);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-wave {
  animation: wave 1.5s ease-in-out infinite;
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out forwards;
}
